<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Twitter || Bienvenido</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print">
		
		<!-- Import fancy-lists plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/fancy-lists/screen.css" type="text/css" media="screen, projection">
		
		<!-- Import juegos-celtas plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/screen.css" type="text/css" media="screen, projection">
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	</head>
	<body>
		
		<div id="main" class="container">
			<div id="header" class="span-24">
				<div id="logo" class="span-12">
					<h1><img src="images/src/logo2.png" width="75" height="79" title="Twitter" /></h1>
				</div>
				<div id="navbar" class="span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
			<div id="body" class="span-24">
				<div id="intro" class="span-24">
					<div id="info-bar" class="span-24">&nbsp;</div>
					<div id="status-bar" class="span-24">
						<div class="span-16 text-box">
							<div class="padder">
								<h2>Bienvenido</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nunc et purus auctor mattis. Etiam facilisis enim vel elit adipiscing ac iaculis sapien aliquam. Proin sollicitudin ipsum dapibus nunc et purus auctor mattis. Etiam facilisis enim vel elit adipiscing ac iaculis.</p>
								<p><a href="#" title="Reg&iacute;strate ahora" class="signup">Reg&iacute;strate ahora</a> <a href="#" title="Aprende c&oacute;mo funciona">Aprende c&oacute;mo funciona</a></p>
							</div>
						</div>
						<div class="span-8 login-panel last">
							<div class="box">
								<p>
									<label for="user">Usuario:</label><br />
									<input id="user" type="text" class="span-6 user" />
								</p>
								<p>
									<label for="password">Contrase&ntilde;a:</label><br />
									<input id="password" type="password" class="span-6 user" />
								</p>
								<p>
									<input id="submit" class="submit" type="button" value="Entrar" title="Entrar" /> <a href="#" title="Reg&iacute;strese aqu&iacute;">Reg&iacute;strese aqu&iacute;</a>
								</p>							
							</div>
						</div>
					</div>
				</div>
				<div class="span-24">
					<div id="content" class="span-18">
					
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span>
									<span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nulla ante, laoreet vel tincidunt i scelerisque eget nisi. Ut nec quam a amet.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Lo dijo el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/comment.png" title="Respuestas" alt="Respuestas" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/trash.gif" title="Eliminar Tweet" alt="Eliminar" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/favorite.png" title="Agregar a Favoritos" alt="Favorito" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/retweet.png" title="Retweet" alt="Retweet" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>
						
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span>
									<span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nulla ante, laoreet vel tincidunt i scelerisque eget nisi. Ut nec quam a amet.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Lo dijo el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/comment.png" title="Respuestas" alt="Respuestas" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/trash.gif" title="Eliminar Tweet" alt="Eliminar" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/favorite.png" title="Agregar a Favoritos" alt="Favorito" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/retweet.png" title="Retweet" alt="Retweet" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>	
						
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span>
									<span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nulla ante, laoreet vel tincidunt i scelerisque eget nisi. Ut nec quam a amet.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Lo dijo el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/comment.png" title="Respuestas" alt="Respuestas" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/trash.gif" title="Eliminar Tweet" alt="Eliminar" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/favorite.png" title="Agregar a Favoritos" alt="Favorito" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/retweet.png" title="Retweet" alt="Retweet" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>
						
					</div>
					<div id="sidebar" class="span-6 last">
						<ul class="sidenav basic-list">
							<li class="active tweets"><a href="#" title="Tweets m&aacute;s recientes">Tweets m&aacute;s recientes</a></li>
							<li class="signup"><a href="#" title="Crear cuenta">Crear cuenta</a></li>
							<li class="search"><a href="#" title="Buscar">Buscar</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer" class="span-24">
				<div class="left span-12"><span>&copy; Copyright 2010. Twitter. Reservados todos los derechos.</span></div>
				<div class="right span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Reg&iacute;strese">Reg&iacute;strese</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
		</div>
    </body>
</html>