<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Twitter</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print">
		
		<!-- Import fancy-lists plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/fancy-lists/screen.css" type="text/css" media="screen, projection">
		
		<!-- Import juegos-celtas plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/screen.css" type="text/css" media="screen, projection">
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	</head>
	<body>
		
		<div id="main" class="container">
			<div id="header" class="span-24">
				<div id="logo" class="span-12">
					<h1><img src="images/src/logo.png" width="71" height="75" title="Twitter" /></h1>
				</div>
				<div id="navbar" class="span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Reg&iacute;strese">Reg&iacute;strese</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
			<div id="body" class="span-24">
				<div id="intro" class="span-24">
					<div id="info-bar" class="span-24">Info</div>
					<div id="status-bar" class="span-24">Status</div>
				</div>
				<div class="span-24">
					<div id="content" class="span-16">
						<div class="tweet">
							Esto es un tweet!
						</div>
					</div>
					<div id="sidebar" class="span-8 last">
						<ul class="sidenav basic-list">
							<li class="active"><a href="#" title="Inicio">Inicio</a></li>
							<li><a href="#" title="Respuestas">Respuestas</a></li>
							<li><a href="#" title="Comentarios">Comentarios</a></li>
							<li><a href="#" title="Retweets">Retweets</a></li>
							<li><a href="#" title="Favoritos">Favoritos</a></li>
							<li><a href="#" title="Mis tweets">Mis tweets</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer" class="span-24">
				<div class="left span-12"><span>&copy; Copyright 2010. Twitter. Reservados todos los derechos.</span></div>
				<div class="right span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Reg&iacute;strese">Reg&iacute;strese</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
		</div>
    </body>
</html>