<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Twitter || Usuarios</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print">
		
		<!-- Import fancy-lists plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/fancy-lists/screen.css" type="text/css" media="screen, projection">
		
		<!-- Import juegos-celtas plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/screen.css" type="text/css" media="screen, projection">
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	</head>
	<body>
		
		<div id="main" class="container">
			<div id="header" class="span-24">
				<div id="logo" class="span-12">
					<h1><img src="images/src/logo2.png" width="75" height="79" title="Twitter" /></h1>
				</div>
				<div id="navbar" class="span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Salir">Salir</a></li>
					</ul>
				</div>
			</div>
			<div id="body" class="span-24">
				<div id="intro" class="span-24">
					<div id="info-bar" class="span-24">
						<div class=" span-12 left-info">
							<div class="padder">
								<img src="images/pictures/users/default.gif" width="43" height="43" title="User" alt="&nbsp;" />
								<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span><br />
								<span class="tweets" title="Tweets de ThisIsAlexis">Tweets: 98</span>
							</div>
						</div>
						<div class=" span-12 right-info last">
							<div class="padder">
								<span class="following"><a href="#" title="ThisIsAlexis est&aacute; siguiendo">Siguiendo</a>: 175</span><br />
								<span class="followers"><a href="#" title="Seguidores de ThisIsAlexis">Seguidores</a>: 98</span>
							</div>
						</div>
					</div>
					<div id="status-bar" class="span-24">

					</div>
				</div>
				<div class="span-24">
					<div id="content" class="span-18">
					
					<fieldset>
						<p>
							<label>Buscar usuarios por nombre:</label><br />
							<input type="text" class="text" style="width: 550px; " /> <input type="button" class="submit" value="Buscar" title="Buscar" />
						</p>
					</fieldset>
					
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span><br />
									<span class="text"><strong>Ubicaci&oacute;n:</strong> Maracay, Edo. Aragua.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Registrado el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/user.png" title="Detalles" alt="Detalles" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/arrow.png" title="Seguir" alt="Seguir" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>
						
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span><br />
									<span class="text"><strong>Ubicaci&oacute;n:</strong> Maracay, Edo. Aragua.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Registrado el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/user.png" title="Detalles" alt="Detalles" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/arrow.png" title="Seguir" alt="Seguir" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>
						
						<div class="tweet span-18">
							<div class="span-18 tweet-info">
								<a href="#" title="ThisIsAlexis"><img src="images/pictures/users/default.gif" width="43" height="43" alt="$nbsp;" /></a>
								<div class="padder">
									<span class="username"><a href="#" title="ThisIsAlexis">ThisIsAlexis</a></span><br />
									<span class="text"><strong>Ubicaci&oacute;n:</strong> Maracay, Edo. Aragua.</span>
								</div>
							</div>
							<div class="span-18 tweet-details">
								<span class="date">Registrado el 25/05/2010 a las 3:54 PM</span>
								<span class="options">
									<ul class="basic-horizontal-list">
										<li><a href="#"><img src="images/icons/user.png" title="Detalles" alt="Detalles" width="16" height="16" /></a></li>
										<li><a href="#"><img src="images/icons/arrow.png" title="Seguir" alt="Seguir" width="16" height="16" /></a></li>
									</ul>
								</span>
							</div>
						</div>
						
					</div>
					<div id="sidebar" class="span-6 last">
						<ul class="sidenav basic-list">
							<li class="home"><a href="#" title="Inicio">Inicio</a></li>
							<li class="replies"><a href="#" title="Respuestas">Respuestas (23)</a></li>
							<li class="comments"><a href="#" title="Comentarios">Comentarios (48)</a></li>
							<li class="retweets"><a href="#" title="Retweets">Retweets (25)</a></li>
							<li class="favorites"><a href="#" title="Favoritos">Favoritos</a></li>
							<li class="active users"><a href="#" title="Usuarios">Usuarios</a></li>
							<li class="search"><a href="#" title="Buscar">Buscar</a></li>
							<li class="profile"><a href="#" title="Perfil">Perfil</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer" class="span-24">
				<div class="left span-12"><span>&copy; Copyright 2010. Twitter. Reservados todos los derechos.</span></div>
				<div class="right span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Reg&iacute;strese">Reg&iacute;strese</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
		</div>
    </body>
</html>