<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Twitter || Reg&iacute;strese</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print">
		
		<!-- Import fancy-lists plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/fancy-lists/screen.css" type="text/css" media="screen, projection">
		
		<!-- Import juegos-celtas plugin. -->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/screen.css" type="text/css" media="screen, projection">
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/plugins/twitter/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	</head>
	<body>
		
		<div id="main" class="container">
			<div id="header" class="span-24">
				<div id="logo" class="span-12">
					<h1><img src="images/src/logo2.png" width="75" height="79" title="Twitter" /></h1>
				</div>
				<div id="navbar" class="span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
			<div id="body" class="span-24">
				<div id="intro" class="span-24">
					<div id="info-bar" class="span-24">&nbsp;</div>
					<div id="status-bar" class="span-24">
						<div class="span-24 text-box">
							<div class="padder">
								<h2>Registro de nuevos usuarios</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="span-24">
					<div id="content" class="span-18">
					
						<div class="span-9">
							<fieldset>
								<p>
									<label>Nombre de usuario:</label><br />
									<input type="text" class="text" />
								</p>
								<p>
									<label>Correo electr&oacute;nico:</label><br />
									<input type="text" class="text" />
								</p>
								<p>
									<label>Contrase&ntilde;a:</label><br />
									<input type="password" class="text" />
								</p>
								<p>
									<label>Repetir contrase&ntilde;a:</label><br />
									<input type="password" class="text" />
								</p>
							</fieldset>
						</div>
						<div class="span-9 last">
							<fieldset>
								<p>
									<label>Nombres:</label><br />
									<input type="text" class="text" />
								</p>
								<p>
									<label>Apellidos:</label><br />
									<input type="text" class="text" />
								</p>
								<p>
									<label>Fecha de nacimiento:</label><br />
									<input type="text" class="text" />
								</p>
								<p>
									<label>Ubicaci&oacute;n:</label><br />
									<input type="text" class="text" />
								</p>
							</fieldset>
						</div>
						<div class="span-18">
							<fieldset style="border: 0;">
								<p>
									<label>Intereses:</label><br />
									<textarea class="span-17" style=" height: 80px; "></textarea>
								</p>
							</fieldset>
						</div>
						<div class="span-18">
							<fieldset style="border: 0;">
								<input type="button" class="submit" value="Registrarme" title="Registrarme" /><a href="#" title="Cancelar" style=" margin-left: 30px; ">Cancelar</a>
							</fieldset>
						</div>
						
					</div>
					<div id="sidebar" class="span-6 last">
						<ul class="sidenav basic-list">
							<li class="tweets"><a href="#" title="Tweets m&aacute;s recientes">Tweets m&aacute;s recientes</a></li>
							<li class="active signup"><a href="#" title="Crear cuenta">Crear cuenta</a></li>
							<li class="search"><a href="#" title="Buscar">Buscar</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer" class="span-24">
				<div class="left span-12"><span>&copy; Copyright 2010. Twitter. Reservados todos los derechos.</span></div>
				<div class="right span-12 last">
					<ul class="basic-horizontal-list">
						<li class="active"><a href="#" title="Inicio">Inicio</a></li>
						<li><a href="#" title="Reg&iacute;strese">Reg&iacute;strese</a></li>
						<li><a href="#" title="Ayuda">Ayuda</a></li>
					</ul>
				</div>
			</div>
		</div>
    </body>
</html>